html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

img {
  width: 500px;
  height: 500px;
  object-fit: fill;
  padding: 10px;
}

